<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- 
    [olvi-2021-05-20] apple-touch-icon error fix
    [2021-05-20 10:34:13] ERROR `/apple-touch-icon-precomposed.png' not found.
    [2021-05-20 10:34:13] ERROR `/apple-touch-icon.png' not found.
    * 참고: https://stackoverflow.com/questions/12480497/why-am-i-getting-error-for-apple-touch-icon-precomposed-png/41337402
-->
<link rel="apple-touch-icon" href="/sosimple/mtngirl/favicon.ico"/>
<link rel="apple-touch-icon-precomposed" href="/sosimple/mtngirl/favicon.ico"/>

<!-- end custom head snippets -->
